
.booking-container {
  display: flex; 
  flex-direction: column;
  padding: 0rem 5rem;
  gap: 5rem;
}

.booking-title {
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  padding-top: 1rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.sub-header{
font-family: 'Bebas Neue', cursive;
font-style: normal;
font-weight: normal;
font-size: 158px;
line-height: 58px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.booking-coupon{
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  /* or 112% */
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.book-top {

  font-family: 'Bebas Neue', 'cursive';
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.booking-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.book-main-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-right: 4rem;
}

.book-main-right {
  flex: 1;
  padding-left: 4rem;
  border-left: 2px solid #8D96E2;
}

.book-mid {
  display: flex;
  background-color: rgba(0, 0, 0, 0.65);
  gap: 4rem;
  padding: 1.5rem;
  border: 2.5px solid;
  border-image-source: linear-gradient(180deg, rgba(152, 161, 243, 0.93), rgba(3, 231, 231, 0.85));
  border-image-slice: 1;
}

.code{
font-family: 'Saira Semi Condensed', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 35px;
/* or 125% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.05em;

color: #FFFFFF;
}

.book-mid-right {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.book-mid-time {
  font-family: 'Saira Semi Condensed', sans-serif;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  display: flex;
  align-items: center;
  color: #FFFFFF;

}

.book-text{
font-family: 'Saira Semi Condensed', sans-serif;
font-style: normal;
font-weight: 900;
font-size: 30px;
line-height: 47px;
display: flex;
color: #FFFFFF;
}

.book-mid-time p {
  border-bottom: 1px solid #ffffff;
}

.mid-time {
  font-family: 'Saira Semi Condensed', sans-serif;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  display: flex;
  align-items: center;
}

.mid-date {
  font-weight: 400;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;

  color: rgba(205, 202, 202, 0.71);

}

.mid-dep,
.mid-port {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: #FFFFFF;
}

.mid-term {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;

color: #FFFFFF;
}

.book-mid-dep, 
.book-mid-arr {
  display: flex;
  flex-direction: column;
}

.book-bottom p:first-child {
  /* font-weight: bolder;
  font-style: normal; */
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  /* or 112% */
  display: flex;
  align-items: center;
}

.book-main-right {
  display: flex;
  gap: 3rem; 
  flex-direction: column;
  align-items: flex-start;
}

.order-title {
  font-style: normal;
  font-weight: normal;
  font-family: 'Bebas Neue', cursive;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.order-price {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 47px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #FFFFFF;
}

.order-details {
  border: 2.5px solid;
  border-image-source: linear-gradient(180deg, rgba(152, 161, 243, 0.93), rgba(3, 231, 231, 0.85));
  border-image-slice: 1;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 1.5rem;
  width: 100%;
}

.booking-button {
  align-self: flex-end;
}
