.flight-page-container {
  display: grid;
  grid-template-areas: 
  "side top top"
  "side content content"
  "side pagi continue";
  gap: 1rem;
  grid-template-columns: 20rem auto auto;
}

.flight-page-topbar {grid-area: top;}
.flight-page-filters {grid-area: side;}
.flight-page-pagi {grid-area: pagi;}
.flight-page-flights {grid-area: content;}
.flight-page-continue-btn {grid-area: continue;}

.flight-page-flights {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.flight-page-topbar {
  display: flex;
  justify-content: space-evenly;
}

.locs {
  display: flex;
  align-items: center;
}

.flight-card {
  display: flex;
  gap: 1.5rem;
  background-color: black;
  padding: 1rem;
  align-items: center;
  justify-content: space-around;
  width: 60rem;
  height: 7rem;
  align-self: flex-start;
}

.split {
  width: 35rem;
}

.flight-page-left,
.flight-page-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.flight-timings {
  display: flex;
  gap: 1rem;
}

.timing-dur {
  height: 1.45rem;
  width: 7rem;
  justify-self: center;
  border-bottom: 1px solid white;
}

.flight-page-filters {
  border-right: 1px solid rgb(200, 200, 200);
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding-left: 2rem;
}

.filter-click {
  cursor: pointer;
}

.flight-page-pagi {
  display: flex;
  justify-content: center;
}

.flight-page-continue-btn {
  align-self: flex-end;
  justify-self: center;
  padding-bottom: 3rem;
}

.flight-page-continue-button {
  background-color: black;
  color: linear-gradient(180deg, rgba(152, 161, 243, 0.93) 22.4%, rgba(3, 231, 231, 0.85) 77.08%);
  font-family: Bebas Neue;
  width: 9rem;
  font-size: 1.80rem;
  height: 4rem;
  color: blue; /* Fallback solid color */
    -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

/* Text color gradient properties */
  background: -webkit-linear-gradient(pink, darkblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
