.flight-page-container {
  display: grid;
  grid-template-areas: 
    "topbar topbar "
    "sidebar contain"
    "pagi pagi";
  gap: 1rem;
  grid-template-columns: 18rem auto;
}

.flight-page-topbar {grid-area: topbar;}
.flight-page-filters {grid-area: sidebar;}
.flight-page-flights {grid-area: contain;}
.pagination-component {grid-area: pagi;}

.flight-page-flights {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 41rem;
  padding-left: 3rem;
}

.flight-page-topbar {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}

.locs {
  display: flex;
}

.locs div {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5rem;
}

.flight-card {
  display: flex;
  min-width: 35rem;
  max-width: 40rem;
  height: 5rem;
  gap: 3rem;
  justify-content: space-around;
  background: black;
  font-size: 1.20rem;
}

.flight-card-details {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.pagination-component {
  justify-self: center;
  width: 70rem;
}

.airline-details {
  display: flex;
}

.flight-timings {
  display: flex;
  gap: 1.5rem;
}

.flight-page-topbar{
  display: flex;
}

.timing-dur {
  height: 2rem;
  border-bottom: var(--border);
}

.flight-timing-dep, 
.flight-timing-arr {
  height: 4rem;
}

.flight-card-price {
  align-self: center;
}

.flight-page-filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding-left: 1rem;
  border-right: var(--border);
}

.filter-only-click,
.filter-except-click {
  cursor: pointer;
}

fieldset {
  border: none;
}

.flight-page-continue {
  color: white;
  height: 2rem;
}
