.home-search-results {
  display: flex;
  flex-direction: column;
}

.home-search-container {
  width: 08rem;
}

.home-search-input {
  width: 0rem;
}

.home-search-take:hover .home-search-input {
  width: 10rem;
  border-bottom: 1.5px solid white;
}

.home-search-arr:hover .home-search-input {
  width: 10rem;
  border-bottom: 1.5px solid white;
}

.home-search-date {
  width: 15rem;
}

.react-datepicker__input-container {
  width: 10rem;
}

.react-datepicker__input-container input{
  width: 00rem;
  border-bottom: 1.5px solid white;
}

.home-search-date:hover input{
  width: 10rem;
}

