@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rajdhani:wght@300&family=Saira+Semi+Condensed&display=swap');


.home-main {
  display: flex;
}

.lines * {
  position: absolute;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  transform-origin: top left;

}

.line-1 {
  width: 490px;
  left: 414px;
  top: 170px;
}

.line-2 {
  width: 86.01px;
  left: 904px;
  top: 170px;
  transform: rotate(-66.71deg);
}

.line-3 {
width: 152.24px;left: 941px;top: 90px;transform: rotate(80.17deg);
} 

.line-4 {
width: 98.86px;left: 965px;
top: 240px;transform: rotate(-82.44deg);
} 

.line-5 {
width: 54.12px;left: 981px;
top: 140px;transform: rotate(73.91deg);
} 

.line-6 {
width: 25.71px;left: 995px;
top: 193px;transform: rotate(-76.5deg);
} 

.line-7 {
width: 248px;left: 1253px;
top: 170px;transform: rotate(-179.78deg);
} 

.line-8 {
  width: 0px;
  height: calc(100% - 170px);
  top: 169px;
  left: 1251px;
}

.home-content {
  display: flex;
  gap: 3rem;
  position: absolute;
  top: 485px;
  left: 58px;
}

.traveled {
  position: absolute;
  top: 111px;
  left: 88px;
}

.traveled-num {
  font-family: 'Rajdhani', sans-serif;
  font-size: 6.0rem;
  filter: brightness(2);
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.78);
}

.traveled-text {
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  color: #757575;
  display: flex;
  align-items: center;
}

.home-search-input {
  border: none;
  background: transparent;
  height: 3rem;
  font-size: 1.00rem;
  color: #757575;
  padding-left: 0.5rem;
}

.home-search-take, 
.home-search-arr,
.home-search-date,
.home-search-passengers {
  display: flex;
}

.search-take-icon,
.search-arr-icon,
.search-date-icon,
.search-per-icon {
  width: 3rem;
  height: 3rem;
  padding: 0.07rem;
}


.react-datepicker__input-container * {
  border: none;
  background: transparent;
  height: 3rem;
  color: #757575;
  font-size: 1.00rem;
}

.home-content {
  display: flex;
  gap: 6rem;
}

.drop-one-btn, 
.drop-eco-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1.25rem;
}

.home-drop-one {
  position: absolute;
  left: 58px;
  top: 331px;
}

.home-drop-eco {
  position: absolute;
  left: 247px;
  top: 331px;
}

.chevron-down-icon {
  padding-top: 19px;
}

.search-pas-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.filter-only-click, 
.filter-except-click {
  font-family: Saira Semi Condensed,sans-serif;
  font-weight: 600;
}


.search-button {
  position: absolute;
  width: 213px;
  height: 71px;
  left: 400px;
  top: 200px;

  font-family: 'Saira Semi Condensed', sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 85px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.78);
  background-color: transparent;
  /* neon1 */
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.78);
}

.search-icon {
  position: absolute;
left: 140px;
top: 3px;


/* background: linear-gradient(180deg, rgba(152, 161, 243, 0.93) 22.4%, rgba(3, 231, 231, 0.85) 77.08%); */
/* neon1 */
/* box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.78); */
}
