.profile-main {
  display: grid;
  grid-template-areas:
  "top top"
  "profile content";
  grid-template-columns: 20rem auto;
}

.profile-title {grid-area: top;}
.profile-navigation {grid-area: profile;}
.content-main {grid-area: content-main;}
